.dropContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  min-height: 80vh;
}

.dropInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vw;
  width: 90vw;
  background-color: white;
  border-radius: 10px;
}